datasets
huggingface_hub
geopy
geopandas
folium
ipython
ipykernel
langchain
langchain-experimental
langchain-openai
llm
mapclassify
matplotlib
openai
pandas
pandasai
pyarrow
streamlit
streamlit-authenticator
streamlit-folium
tabulate
transformers